<div class="container">
  <div class="row my-3 pt-3 d-flex justify-content-center">
    <h4 class="text-center">写真投稿</h4>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <%= form_with model: @post_photo do |f| %>

      <div class="form-group row d-flex justify-content-center">
        <div class="col-lg-4 col-form-label"><%= f.label "写真" %></div>
        <div class="col-lg-6 mb-2">
          <%= f.file_field :photo_image, accept: "image/*" %>
        </div>
      </div>

      <div class="form-group row d-flex justify-content-center">
        <div class="col-lg-4 col-form-label"><%= f.label "機種名" %></div>
        <div class="col-lg-6 mb-2">
          <%= f.text_field :type_name, size: 40, placeholder:"iPhone14", class:"form-control" %>
        </div>
      </div>

      <div class="form-group row d-flex justify-content-center">
        <div class="col-lg-4 col-form-label"><%= f.label "写真について" %></div>
        <div class="col-lg-6 mb-2">
          <%= f.text_area :introduction, size: 40, placeholder:"写真についての説明を記入してください。", class:"form-control" %>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <%= f.submit "投稿", class: "btn btn-success", style: "width:100px" %>
      </div>
    <% end %>
  </div>
</div>