<h2>プロフィール編集</h2>

<%= form_with model: @user do |f| %>
  <label for="inputImage">プロフィール画像</label>
  <%= f.file_field :profile_image, accept: "image/*" %>

  <label for="inputName">ユーザー名</label>
  <%= f.text_field :name, id:"inputName", placeholder:"スマフォト" %>

  <label for="inputEmail">メールアドレス</label>
  <%= f.text_field :email, id:"inputEmail", placeholder:"sample@example.com" %>

  <label for="inputIntroduction">ユーザー名</label>
  <%= f.text_area :introduction, id:"inputIntroduction", placeholder:"撮影で使っている機種や、どのような写真を撮るかなどを記入してください。" %>

  <%= f.submit "保存" %>
<% end %>