<%= image_tag @user.get_profile_image(200,200) %>
<h3><%= @user.name %></h3>
<%= @user.introduction %>

<% if @user == current_user %>
  <%= link_to edit_user_path do %>
   編集
  <% end %>
<% end %>

<% @post_photos.each do |post_photo| %>
  <%= link_to post_photo_path(post_photo.id) do %>
    <%= image_tag post_photo.get_photo_image(200,200) %>
  <% end %>
<% end %>

<%= paginate @post_photos %>