<!DOCTYPE html>
<html>
  <head>
    <title>スマフォトグラフィー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h2>スマフォトグラフィー</h2>
      <% end %>

      <% if user_signed_in? %>
        <li>
          <%= link_to about_path do %>
            About
          <% end %>
        </li>
        <li>
          <%= link_to post_photos_path do %>
            投稿一覧
          <% end %>
        </li>
        <li>
          <%= link_to new_post_photo_path do %>
            投稿
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            ユーザー一覧
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user.id) do %>
            マイページ
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            ログアウト
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to about_path do %>
            About
          <% end %>
        </li>
        <li>
          <%= link_to post_photos_path do %>
            投稿一覧
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            ログイン
          <% end %>
        </li>
      <% end %>
    </header>

    <main>
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </main>
  </body>
</html>
